<ul class="metismenu" id="menu-bar">
  <li>
    <a href="index.html">
      <i data-feather="home"></i>
      <span> Dashboard </span>
    </a>
  </li>
  <li>
    <a href="javascript: void(0);">
      <i data-feather="inbox"></i>
      <span> Setup </span>
      <span class="menu-arrow"></span>
    </a>

    <ul class="nav-second-level" aria-expanded="false">
      <li>
        <a href="tarrif.html">Tarrif Classification</a>
      </li>
      <li>
        <a href="customertype.html">Customer Types</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript: void(0);">
      <i data-feather="user"></i>
      <span> Admin </span>
      <span class="menu-arrow"></span>
    </a>

    <ul class="nav-second-level" aria-expanded="false">
      <li>
        <a href="javascript: void(0);">Customer Registration</a>
      </li>
      <li>
        <a href="javascript: void(0);"">Account Administration</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="javascript: void(0);" aria-expanded="false">
      <i data-feather="briefcase"></i>
      <span> Transaction </span>
    </a>
  </li>
  <li>
    <a href="javascript: void(0);" aria-expanded="false">
      <i data-feather="activity"></i>
      <span> Reports </span>
    </a>
  </li>
  <li>
    <a href="javascript: void(0);" aria-expanded="false">
      <i data-feather="help-circle"></i>
      <span> Help </span>
    </a>
  </li>
</ul>
